In [27]:
import pandas

frame = pandas.read_excel('/home/msanders/projects/crime/2020-01-01_2020-04-30.stats.xls')

In [28]:
frame.columns.values
frame['ZIP Code']

0        77078
1        77031
2        77017
3        77081
4        77033
         ...
65530    77028
65531    77004
65532    77074
65533    77072
65534    77003
Name: ZIP Code, Length: 65535, dtype: object

In [40]:
# Remove dashes from zip-codes
def clean_zip(z):
    return str(z).split('-')[0]

frame['zip_code'] = frame['ZIP Code'].apply(clean_zip)
grouped = frame.groupby('zip_code').sum()
grouped = pandas.DataFrame(grouped[['Offense\nCount']])
grouped = grouped.rename(columns={'Offense\nCount': 'offense_count'})
grouped.dropna(inplace=True)
grouped

          offense_count
zip_code
75082                 1
77002              1245
77003               578
77004              1550
77005               304
...                 ...
77701                 1
78414                 2
78418                 1
78501                 1
nan                 786

[147 rows x 1 columns]